<mat-tab-group mat-align-tabs="center" [selectedIndex]="1">
  <mat-tab label="Juego">
    <ng-template matTabContent>
      <div class="contenido-pestana">
        <app-juego></app-juego>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Herramienta ayuda">
    <ng-template matTabContent>
      <div class="contenido-pestana">
        <app-herramienta-ayuda></app-herramienta-ayuda>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Opciones">
    <ng-template matTabContent>
      <div class="contenido-pestana">
        <app-opciones></app-opciones>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>