<h1 mat-dialog-title>{{ titulo }}</h1>
<div mat-dialog-content>{{ mensaje }}</div>
<div mat-dialog-actions fxLayoutAlign="space-between center">
    <button mat-button mat-dialog-close>NO</button>
    <button mat-button [mat-dialog-close]="true">SI</button>
</div>