.caja-letra
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    border-radius: 0
    border: none
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

.letra-incorrecta
    background-color: #727272
    color: white

.letra-posible
    background-color: #ed9a03
    color: white

.letra-correcta
    background-color: green
    color: white

.boton-consultar
    margin-top: 15px

mat-card
    margin-bottom: 20px

    .titulo
        font-size: 120%
        padding: 0 0 10px 0

.palabra-resultado
    .buena-palabra:hover
        color: green

    .mala-palabra:hover
        color: red

.palabra-correcta
    background-color: #0faa1c
    color: white

.no-es-palabra
    background-color: #cb0909
    color: white
