<mat-card>
    <mat-grid-list [cols]="cantidadLetras" gutterSize="15px">
        <ng-container *ngFor="let palabra of palabras; let ip = index">
            <mat-grid-tile *ngFor="let letra of palabra; let il = index">
                <div
                (click)="cambiarEstado(ip, il)"
                class="caja-letra"
                [style.font-size]="tamanoLetra + '%'"
                [class.letra-correcta]="palabras[ip][il].estado == 'correcta'"
                [class.letra-incorrecta]="palabras[ip][il].estado == 'incorrecta'"
                [class.letra-posible]="palabras[ip][il].estado == 'posible'">
                    <span>{{letra.letra| uppercase}}</span>
                </div>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
    <div class="boton-consultar" fxLayoutAlign="space-between center">
        <button mat-raised-button (click)="reiniciar()">{{ 'reiniciar' | uppercase }}</button>
        <button mat-raised-button (click)="consultar()" [disabled]="palabraCorrecta !== ''" color="primary">{{ 'consultar' | uppercase }}</button>
    </div>
</mat-card>

<mat-card *ngIf="resultadosBusqueda.length > 0">
    <div class="titulo">Posibles palabras ({{ resultadosBusqueda.length }})</div>

    <mat-chip-list>
        <mat-chip
            class="palabra-resultado"
            *ngFor="let palabra of resultadosBusqueda"
            [class.no-es-palabra]="noSonPalabras.includes(palabra)"
            [class.palabra-correcta]="palabra === palabraCorrecta">
            {{ palabra }}
            <ng-container *ngIf="!noSonPalabras.includes(palabra)">
                <button
                    *ngIf="palabraCorrecta === ''"
                    (click)="marcarPalabraCorrecta(palabra)"
                    class="buena-palabra"
                    matChipRemove
                    matTooltip="Palabra correcta">
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>
                <button
                    *ngIf="palabra !== palabraCorrecta"
                    (click)="noEsPalabra(palabra)"
                    class="mala-palabra"
                    matChipRemove
                    matTooltip="No es una palabra">
                    <mat-icon>thumb_down_alt</mat-icon>
                </button>
            </ng-container>
        </mat-chip>
    </mat-chip-list>
</mat-card>
