<mat-card class="seccion opciones-idiomas">
    <div class="titulo">Seleccionar idioma</div>

    <mat-radio-group [(ngModel)]="idiomaSeleccionado">
        <mat-radio-button *ngFor="let idioma of idiomasDisponibles" [value]="idioma">
            {{ idioma }}
        </mat-radio-button>
    </mat-radio-group>
</mat-card>

<mat-card class="seccion opciones-cantidad-letras">
    <div class="titulo">Seleccionar cantidad de letras</div>

    <ng-container *ngFor="let cantidad of cantidadLetrasPosibilidades">
        <button *ngIf="cantidad == cantidadLetras; else cantidadNoSeleccionada" mat-mini-fab (click)="cambiarCantidad(cantidad)">
            {{ cantidad }}
        </button>
        <ng-template #cantidadNoSeleccionada>
            <button mat-icon-button (click)="cambiarCantidad(cantidad)">
                {{ cantidad }}
            </button>
        </ng-template>
    </ng-container>
</mat-card>
