.seccion
    .titulo
        padding: 0 0 10px 0
        font-size: 120%

.opciones-idiomas
    mat-radio-group
        display: flex
        flex-direction: column

    mat-radio-button
        margin: 5px

.opciones-cantidad-letras
    button
        margin: 0 5px

mat-card
    margin-bottom: 20px